= simple_form_for(@startup, html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  = f.input :startup_name, label: "Startup Name"
  = f.input :stup_desc, as: :text, input_html: {rows: "4"}, label: "Startup Description"
  = f.input :startup_url, label: "Website"
  = f.input :stup_angel, label: "AngelList URL"
  = f.input :fb_url, label: "Facebook Page"
  = f.input :tw_url, label: "Twitter Account"

  .actions
    = f.submit 'Save', :class => "btn btn-warning"

%p
  %b Want to remove this startup?
  %br/
  = link_to 'Delete', @startup, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"
