%h1 Listing startups

%table
  %tr
    %th Startup name
    %th Stup desc
    %th Stup angel
    %th
    %th
    %th

  - @startups.each do |startup|
    %tr
      %td= startup.startup_name
      %td= startup.stup_desc
      %td= startup.stup_angel
      %td= link_to 'Show', startup
      %td= link_to 'Edit', edit_startup_path(startup)
      %td= link_to 'Destroy', startup, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Startup', new_startup_path
