.row
  .span4
    = image_tag @user.profile_pic(:large), :class => "img-rounded"
  .span8
    .left
      
      %h1
        = @user.name
        -unless @user.linked_in.blank?
          = link_to image_tag('linkedin.png'), @user.linked_in,  :target => '_blank'
    .clear

    %p{:style => 'padding-top:20px'} 
      %b 
        About 
        =@user.name

    %p= @user.bio

    %div{:style => 'padding-top:40px;'}
      %h3{:style => 'color:#ff9900;'} Help Packages
      %hr
      
      - @user.skills.each do |skill|
        .row{:style => 'padding-bottom:20px;'}
          .span6
            %h3= skill.title
            %b Description:
            %p= skill.description
          .span2
            =link_to 'View Package', skill, :class => 'btn', :style => 'margin-top :20px'
        %hr

