.container
  .row
    .span10.offset1

      .top_box
        = image_tag "250by7802.jpg", :style => "-moz-border-radius-topleft: 9px;-moz-border-radius-topright: 9px;-webkit-border-top-left-radius: 9px;-webkit-border-top-right-radius: 9px;"
        - if @user.profile_pic.file?
          .profile_image_big
            = image_tag @user.profile_pic(:large), :class => "img-rounded"
        - elsif @user == current_user
          .profile_image_big
            = link_to image_tag("default_no_avatar.png", :class => "img-rounded"),edit_user_registration_path
        - else 
          .profile_image_big
            = image_tag "default_avatar.png", :class => "img-rounded"
      .white_box
        %div
          .profile_title
            .big_title  
              STARTUP PERSON
            %h1= @user.name
            -if @user.linked_in.blank?
              -if @user == current_user
                .linked_in_logo
                  = link_to "Add Linked In", edit_user_registration_path , :class => 'btn btn-success btn-large'
                  %p{:style => 'padding:15px 0px 0px 40px;'}= link_to 'Edit Profile', edit_user_registration_path
              - else 
                .linked_in_logo
                  = link_to "View Resume", '#', :class => 'btn disabled btn-large'
            -else
              .linked_in_logo
                = link_to "View Resume", @user.linked_in,  :target => '_blank', :class => 'btn btn-success btn-large'
          %hr
          -unless @user.bio.blank?
            .feild_hero_title{:style => "padding:20px 0 20px 50px"}  
              About 
              =@user.name

            .feild_hero{:style => "padding:0 0 50px 50px"}= @user.bio
          -unless @user.skills.blank?
            %div{:style => 'padding-top:0px;'}
              
              .feild_hero_title{:style => "padding:0px 0 0px 50px"} HELP PACKAGES
              - @user.skills.each do |skill|
                %div{:style => 'padding-bottom:20px;'}
                  .left
                    %h3.link_color=link_to "#{skill.title}" , skill

                  .left
                    .link_skill=link_to 'Learn More', skill, :class => 'btn'
                  .clear
          - if @user == current_user
            %div{:style => 'padding-bottom:20px;'}
              .left
                %h3.link_color Create a New Help Package

              .left
                .link_skill=link_to 'Add Help Package', new_skill_path, :class => 'btn', :style => 'width:125px;margin-left:-20px;'
              .clear
          -unless @user.startups.blank?
            %div{:style => 'padding-top:0px;'}
              
              .feild_hero_title{:style => "padding:0px 0 0px 50px"} STARTUPS
              - @user.startups.each do |startup|
                %div{:style => 'padding-bottom:20px;'}
                  .left
                    %h3.link_color=link_to "#{startup.name}" , startup

                  .left
                    .link_skill=link_to 'Learn More', startup, :class => 'btn'
                  .clear
          - if @user == current_user
            %div{:style => 'padding-bottom:20px;'}
              .left
                %h3.link_color Add a New Startup Profile
                

              .left
                .link_skill=link_to 'Add Startup', new_startup_path, :class => 'btn ', :style => 'width:125px; margin-left:-20px;'
              .clear

          %br    

