= form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :startup_id
    = f.number_field :startup_id
  .field
    = f.label :skill_id
    = f.number_field :skill_id
  .field
    = f.label :message
    = f.text_field :message
  .actions
    = f.submit 'Save'
