.container
  %p#notice= notice

  %p
    %b Startup:
    = @request.startup_id
  %p
    %b Skill:
    = @request.skill_id
  %p
    %b Message:
    = @request.message

  = link_to 'Edit', edit_request_path(@request)
  \|
  = link_to 'Back', requests_path
