.container.aboutbox
  .span7
    %h3 HelpStart, a Journey

    %p I love creating jobs.

    %p 
      In January 2012, I set out to see how I could help people create jobs.  I spent time at the 
      = link_to "SBA offices" , "http://www.sba.gov/home"
      and talked with people to see what I could do to help founders build their companies. 

    %p 
      To dive in I teamed up with 
      = link_to "Jonathan Yankovich", "https://twitter.com/tronathan"
      and started 
      = link_to "Bootstrappers Anonymous",  "http://www.bootstrappersanonymous.com/"
      and held weekly meetups in San Francisco with the goal for supporting founders.  It was amazing to learn about all the great projects founders were working on.  Inspired by the awesomeness that is 
      = link_to "AngelList", "http://www.angel.co"
      I started to think how I could help more people.  

    %p 
      Then in May of 2012, I saw 
      = link_to "nCombinator on HackerNews.", "https://news.ycombinator.com/item?id=3955265"
      It was an amazing idea of a decentralized startup incubator, launched by 
      = link_to "Jacques Crocker", "http://railsjedi.com/"
      ,
      = link_to "Ash Bhoopathy", "http://dribbble.com/ashbhoopathy"
      and 
      = link_to "Rich Lengsavath.", "http://about.me/lengsavath"  
      I knew I had to get involved.  So I met with the trio and ended up running nCombinator for them.  We rebranded as 
      =link_to "nReduce", "http://www.nReduce.com"
      and the brilliant 
      = link_to "Josh Schwartzman","http://joshschwartzman.com/"
      joined the team.

    %p 
      Josh and I set out to build the 
      = link_to "Online Incubator.", "http://pandodaily.com/2012/07/27/virtual-incubator-to-all-nreduce-adds-mentors-and-demo-days-is-it-the-pre-angellist/"
      It was amazing, everyone loved us and simultaneously had no idea what an "Online Incubator" was.  

    %p We didn't either :)

    %p So, in essence, we started replicating a normal incubator.

    %p 
      We had to have weekly pressure, so we had founders set weekly goals and then upload a 
      = link_to "video", "https://www.youtube.com/results?search_query=nreduce&oq=nreduce&gs_l=youtube.3...3355.3355.0.3610.1.1.0.0.0.0.68.68.1.1.0...0.0...1ac.1.11.youtube.g8cwJZDzUAw" 
      every Tuesday to document their progress.

    %p We had to have co-horts, so we had founders connect with other startups and give each other weekly feedback.

    %p We had to have mentors, so we build a great mentor network that a founder could access by being active on the system

    %p We had to have investors, so we held monthly online demo days.  These were nothing short of amazing. 8 live video streams while founders answers questions posed to them from twitter in real time.

    %p 
      %b Also, we got on the road.

    %p Josh and I realized that living on AirBnB was cheaper than having two San Francisco apartments, so we gave up our leases and hit the road. 

    %p We met founders everywhere from Singapore to Seattle.   It was amazing.   

    %p I confirmed that founders are about the best people you can surround yourself with on earth, because: 

    %ol
      %li They are optimistic.
      %li They want to improve the world.
      %li They are actively creating things.

    %p I mean if you can surround yourself with those types of people, it makes for a pretty amazing life.

    %p Anyway, we ran nReduce for 6 months.  We had some pretty awesome vanity metrics, 2000+ startups helped, 2000 plus videos posted, a bunch of acquisitions, nReduce startups got into YC and we were the 30th largest incubator on the world on angel.co.

    %p So that was awesome but we had no business model and weekly active startups had stagnated at around 80 for the past 3 months.

    %p It was time to either raise funds or call it a day.  And we decided on the the latter.

    %p 
      %b Shit.

    %p Anyway, in February 2013, I decided to start again.  

    %p In looking at the experience of running nReduce, I decided that my next attempt at helping startups would be based on three ideas.

    %h4 1) AirBnb

    %p My favorite story about AirBnB is about when they pitched Greylock.  Apparently the AirBnB founder said that peoples largest fixed asset were their homes and that AirBnB was going to make that asset liquid.

    %p Apparently, as the legend goes, the partner immediately got it and started throwing golden termsheets at the founders.

    %p 
      I immediately go it.  I saw the net worth of the world as this big stacked line chart with different asset types grouped together.  I saw the rush of reputation based online market places quickly working down the asset food chain, by creating marketplaces for everything from 
      = link_to "boats", "http://boatbound.co/"
      to 
      = link_to "bikes.", "https://www.spinlister.com/"

    %p Regarding founders, it was simple, their largest asset was their equity.  And right now besides getting into an incubator, that equity is largely illiquid.  I wanted to create something that would enable them to use that assets to help build their company.

    %p 
      And if you look at any pitch deck for investment, what startups spend their money on is 
      = link_to "talent.", "http://www.quora.com/Entrepreneurship/What-do-venture-start-ups-spend-the-most-money-on"

    %h4 2) The Cockroach

    %p 
      I have never really been a big follower of 
      = link_to "Paul Graham,", "http://www.paulgraham.com/"
      he is definitely knowledgeable and an awesome dude but for some reason I am more a 
      = link_to "Ben's blog", "http://bhorowitz.com/"
      fan.  Anyway, I have heard people tell me about his Cockroach strategy and I like it. It says:

    %p 
      %b The goal of a startup is to not die.

    %p 
      %b If you don't die for long enough, you will succeed.

    %p What does that mean to me?  If I was going to start another company, instead of the desperate rush to gain traction to convince an investor we were the next hot thing, I would expect that I could not raise money and I would create a lifestyle that would allow me to just settle back and build the company over time.

    %p So, first off, that meant I had to learn to code.

    %p 
      I joined 
      = link_to "One Month Rails", "http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848/826005199"
      this February and I am happy to say that pretty much everything on this site has been designed and coded by me. (Did get some help from awesome peeps)

    %p Besides coding, the cockroach strategy also meant that I couldn't do this full time. 

    %p This is a nights and weekends project for me.

    %p 
      My main Job is running 
      = link_to "Emotional Brain Training" , "http://www.ebtgroups.com" 
      and fighting the global obesity epidemic.

    %p I have no interest in raising capital and am looking to build HelpStart over the next years.

    %p It just means that no Netflix for me :)

    %h4 3) Focus

    %p In the aftermath of nReduce, I asked myself one question:  Who did we help?

    %p When I ask myself that, one founder immediately comes to mind. 

    %p He was in our first demo day where he got introduced to an incubator and got accepted.  He now has raised capital and is building a team.

    %p It was not the sense of accountability that helped him nor getting advice nor the sense of community from having a cohort.

    %p It was that someone decided to believe in him.

    %p That changed everything.

    %p So in starting again, I decided to focus solely on that.

    %p
      %b Getting that first person to believe in a founder. 


    %p So that is me.  That is the purpose of HelpStart.


    %p If you want to chat, you can contact support (it is only me) or email me at Joe@Helpstart.co - I love talking to founders and people who help startups.

    %p So please, hit me up, say hi!
    %p 
      If you want to join the journey, 
      = link_to "create an account", new_user_registration_path
      and get started :)
  .span3{:style => "padding-left:50px; padding-top: 20px;"}
    = image_tag "pastimg01.jpg"
    = image_tag "pastimg02.jpg"
    = image_tag "pastimg03.jpg"
    = image_tag "pastimg04.jpg"
    = image_tag "pastimg06.jpg"
    = image_tag "pastimg07.jpg"
    = image_tag "pastimg08.jpg"
    = image_tag "pastimg09.jpg"
    = image_tag "pastimg10.jpg"
    = image_tag "pastimg11.jpg"
    = image_tag "pastimg12.jpg"
    = image_tag "pastimg13.jpg"
    = image_tag "pastimg14.jpg"
    = image_tag "pastimg15.jpg"
    = image_tag "pastimg16.jpg"
    = image_tag "pastimg17.jpg"
    = image_tag "pastimgb1.jpg"
    = image_tag "pastimgb2.jpg"








