-if !user_signed_in?
  .row{:style => 'height:320px; padding-top:30px'}
    .span6{:class => "img-polaroid", :style => "margin:0 10px 0 50px"}
      :plain
        <iframe src="http://player.vimeo.com/video/60937243?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="460" height="264" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    .span5
      %h2{:style => 'color:#ff9900;'} Startups:
      %h1{:style => 'font-size: 3.9em; padding-top:10px;'} Get Help
      %h1 Pay with Equity
      %h4{style: "padding:10px 0px 0px 0px;"} 
        .ol
          %li All Packages are .1% Per Month 
          %li Shares Given Upon Completion
          %li We Take Care of the Paperwork
  .row
    .span12.graygrad{:style => 'text-align:center; height:15px; margin-bottom:10px;'}
    .span12{:style => 'text-align:center; color:#FF9900;'}
      %p VIEW HELP PACKAGES
    .span12.upgraygrad{:style => 'text-align:center; height:15px; margin-bottom:10px;'}
-else

- @skills.each do |skill|
  .row{:style => 'padding:20px 0 20px 0'}
    .span2
      = link_to image_tag(skill.user.profile_pic(:medium),:class => "img-rounded"), skill.user
    .span7
      %h2= skill.title
      %p 
        Helper:
        =link_to "#{skill.user.name}" , skill.user
        -unless skill.meeting_hrs.blank?
          &nbsp;&nbsp;&nbsp;&nbsp; Weekly Meeting Hours:
          %b= skill.meeting_hrs
        -unless skill.work_hrs.blank?
          &nbsp;&nbsp;&nbsp;&nbsp;
          Weekly Additional Hours:
          %b= skill.work_hrs

    .span2.offset1
      =link_to 'View Package', skill, :class => 'btn', :style => 'margin-top :40px'
  %hr
