!!!
%html
  %head
    %title HelpStart
    %link(href="/css/bootstrap.min.css" rel="stylesheet" media="screen")
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      .row
        .navbar
          .navbar-inner
            .brand
              = link_to image_tag('hslogosm.png'), root_path
            %ul.nav.pull-right
              - if !user_signed_in?
                %h5{:style => "color:#CCC;padding-top:3px"} BETA : BY APPLICATION ONLY 
              - if user_signed_in? 
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Account
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'View Profile', @user_show_path
                    %li= link_to 'Edit Profile', edit_user_registration_path
 
                    %li.divider
                    %li.nav-header Saying Goodbye :)
                    %li= link_to "Log Out", destroy_user_session_path, :method => :delete

      .row            
        - no_dismiss ||= false
        - if flash[:notice].present? and !flash[:notice].blank?
          .alert.alert-success
            - unless no_dismiss
              %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
            %p= raw flash[:notice].html_safe

        - if flash[:alert].present? and !flash[:alert].blank?
          .alert.alert-error
            - unless no_dismiss
              %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
            %p= raw flash[:alert].html_safe




      = yield
      :plain
        <!-- jQuery via Google + local fallback, see h5bp.com -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

        <!-- Bootstrap jQuery Plugins, compiled and minified -->
        <script src="js/bootstrap.min.js"></script>
     
      :plain
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>