!!!
%html
  %head
    %title HelpStart
    %link(href="/css/bootstrap.min.css" rel="stylesheet" media="screen")
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    
    .row
      .span12
        .navbar.navbar-fixed-top
          .navbar-inner
            
            .brand{:style => 'padding-left: 100px;'}
              = link_to image_tag('hslogosm.png'), root_path
            %ul.nav.pull-right{:style => 'padding-right: 100px;'}
              - if !user_signed_in?
                %li= link_to 'Create Account',  new_user_registration_path
                %li= link_to 'Login',  new_user_session_path 
              - if user_signed_in? 
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Account
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'View Profile', user_path(current_user)
                    %li= link_to 'Edit Profile', edit_user_registration_path

                    %li.divider
                    %li.nav-header My Help Package
                    - current_user.skills.each do |skill|
                      %li= link_to skill.title, skill
                    %li= link_to '+ Add Help Package', new_skill_path
                    %li.divider
                    %li.nav-header My Startups
                    - current_user.startups.each do |startup|
                      %li= link_to startup.name, startup
                    %li= link_to '+ Add Startup', new_startup_path
                    %li.divider
                    %li.nav-header Saying Goodbye :)
                    %li= link_to "Log Out", destroy_user_session_path, :method => :delete

      .container{:style => 'padding-top:30px;'}       
        - no_dismiss ||= false
        - if flash[:notice].present? and !flash[:notice].blank?
          .alert.alert-success
            - unless no_dismiss
              %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
            %p= raw flash[:notice].html_safe

        - if flash[:alert].present? and !flash[:alert].blank?
          .alert.alert-error
            - unless no_dismiss
              %a{:class => "close", :href => "#", "data-dismiss" => "alert"} x
            %p= raw flash[:alert].html_safe




      = yield

      .container  
        .row.footer_style
          .span12.center
            %p{:style => "color:#999;padding-top:35px;"}

              =link_to "How it Works", how_path
              &nbsp;&nbsp;&nbsp;&nbsp;
              = link_to 'Create Account',  new_user_registration_path
              &nbsp;&nbsp;&nbsp;&nbsp;
              = link_to 'Login',  new_user_session_path 
          
       